<script>setMenuActive("#navbar_home");</script>
<div class="row">
  <div class="card" style="border: 0px; width:100%;">
    <div class="row no-gutters">
      <div class="col-md-8">
        <img src="https://via.placeholder.com/800x400" class="card-img" style="max-height: 360px; width:100%; border-radius: 0px;">
      </div>
      <div class="col-md-4">
        <div class="card-body h-100" style="border: 1px solid rgba(0, 0, 0, 0.125);">
          <p>
            <span>Enrollment Duration:</span><br>
            <%= @exam.enroll_timeslot %>
          </p>
          <p>
            <h5 class="card-title"><%= @exam.title %></h5>
            <span><%= @exam.code %></span><br>
            <span><%= @exam.owner.name %></span>
          </p>
          <p>Fee: <%= @exam.fee %> Baht</p>
          <p>Status: </p>
          <p>Participants: <%= @exam.candidates.count %>/<%= @exam.max_enrollment %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 5px;">
  <div class="card" style=" width:100%; border-radius: 0px;">
    <div class="card-body" style="padding: 5px;">
      <div class="row">
        <div class="col-7">
          <button type="button" class="btn btn-outline-dark" style="border: 0px;"><i class="fas fa-bookmark"></i></button>
          <button type="button" class="btn btn-outline-dark" style="border: 0px;"><i class="fas fa-share"></i></button>
        </div>
        <div class="col-5">
          <button class="btn btn-success btn-block" style="border-radius: 0px;"><b>Enroll</b></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 5px;">
  <div class="card" style=" width:100%; border-radius: 0px;">
    <div class="card-body" style="padding: 5px;">
      <div class="row">
        <div class="col-7">
          <div class="row">
            <div class="col">
              <h3>Description</h3>
              <%= @exam.description %>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col">
              <h3>Prerequisite</h3>
              <%= @exam.description %>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="row">
            <div class="col">
              <h3>Detail</h3>
              <span><b>Exam Time:</b> <%= @exam.exam_timeslot %></span><br>
              <span><b>Number of Question:</b> 5 </span><br>
              <span><b>Format:</b> <%= @exam.format %></span><br>
              <span><b>Duration:</b> <%= @exam.exam_duration %></span><br>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col">
              <h3>Address</h3>
              <span><%= @exam.getAddress %></span><br>
            </div>
            <div class="col">
              <%= raw @exam.getLocation %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
